{{!-- Unhallowed Metropolis Roll Dialog --}}
<form class="um-roll-dialog">
  <div class="form-group">
    <label>{{localize "UM.Dialog.RollType"}}</label>
    <span class="roll-type">{{rollType}}</span>
  </div>

  {{#if attribute}}
  <div class="form-group">
    <label>{{localize "UM.Dialog.Attribute"}}</label>
    <span class="attribute-name">{{attribute.label}} ({{attribute.value}})</span>
  </div>
  {{/if}}

  {{#if skill}}
  <div class="form-group">
    <label>{{localize "UM.Dialog.Skill"}}</label>
    <span class="skill-name">{{skill.label}} ({{skill.value}})</span>
  </div>
  {{/if}}

  <div class="form-group">
    <label for="target-number">{{localize "UM.Dialog.TargetNumber"}}</label>
    <select id="target-number" name="targetNumber">
      <option value="7" {{#if (eq defaultTN 7)}}selected{{/if}}>{{localize "UM.TargetNumbers.VeryEasy"}} (7)</option>
      <option value="11" {{#if (eq defaultTN 11)}}selected{{/if}}>{{localize "UM.TargetNumbers.Easy"}} (11)</option>
      <option value="15" {{#if (eq defaultTN 15)}}selected{{/if}}>{{localize "UM.TargetNumbers.Average"}} (15)</option>
      <option value="19" {{#if (eq defaultTN 19)}}selected{{/if}}>{{localize "UM.TargetNumbers.Challenging"}} (19)</option>
      <option value="23" {{#if (eq defaultTN 23)}}selected{{/if}}>{{localize "UM.TargetNumbers.Difficult"}} (23)</option>
      <option value="27" {{#if (eq defaultTN 27)}}selected{{/if}}>{{localize "UM.TargetNumbers.Extreme"}} (27)</option>
    </select>
  </div>

  <div class="form-group">
    <label for="modifier">{{localize "UM.Dialog.Modifier"}}</label>
    <input type="number" id="modifier" name="modifier" value="0" />
  </div>

  {{#if showSpecialization}}
  <div class="form-group">
    <label for="specialization">{{localize "UM.Dialog.Specialization"}}</label>
    <select id="specialization" name="specialization">
      <option value="">{{localize "UM.Dialog.None"}}</option>
      {{#each specializations}}
      <option value="{{this}}">{{this}} (+2)</option>
      {{/each}}
    </select>
  </div>
  {{/if}}

  <div class="formula-preview">
    <label>{{localize "UM.Dialog.Formula"}}</label>
    <span class="formula">2d10 + {{baseValue}}</span>
  </div>
</form>
