{{!-- Unhallowed Metropolis Weapon Sheet --}}
<form class="um-item-sheet weapon-sheet flexcol" autocomplete="off">
  
  <header class="sheet-header">
    <div class="item-image">
      <img src="{{item.img}}" alt="{{item.name}}" data-edit="img"/>
    </div>
    
    <div class="header-fields">
      <h1 class="item-name">
        <input type="text" name="name" value="{{item.name}}" placeholder="Weapon Name"/>
      </h1>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="details">Details</a>
  </nav>

  <section class="sheet-body">
    
    <div class="tab description" data-group="primary" data-tab="description">
      <div class="editor-container">
        <label>Description</label>
        <textarea name="system.description">{{system.description}}</textarea>
      </div>
    </div>

    <div class="tab details" data-group="primary" data-tab="details">
      <div class="weapon-details">
        
        <div class="form-group">
          <label>Weapon Type</label>
          <select name="system.weaponType">
            {{#each config.weaponTypes as |label key|}}
              <option value="{{key}}" {{#if (eq ../system.weaponType key)}}selected{{/if}}>
                {{localize label}}
              </option>
            {{/each}}
          </select>
        </div>
        
        <div class="form-group">
          <label>Skill</label>
          <select name="system.skill">
            {{#each skills as |label key|}}
              <option value="{{key}}" {{#if (eq ../system.skill key)}}selected{{/if}}>
                {{label}}
              </option>
            {{/each}}
          </select>
        </div>
        
        <div class="form-group">
          <label>Damage</label>
          <input type="text" name="system.damage" value="{{system.damage}}" placeholder="1d10"/>
        </div>
        
        <div class="form-group">
          <label>Damage Type</label>
          <select name="system.damageType">
            {{#each config.damageTypes as |label key|}}
              <option value="{{key}}" {{#if (eq ../system.damageType key)}}selected{{/if}}>
                {{localize label}}
              </option>
            {{/each}}
          </select>
        </div>
        
        <div class="form-group">
          <label>Range (yards)</label>
          <input type="number" name="system.range" value="{{system.range}}" data-dtype="Number" min="0"/>
        </div>
        
        <div class="form-group">
          <label>Rate of Fire</label>
          <input type="number" name="system.rof" value="{{system.rof}}" data-dtype="Number" min="1"/>
        </div>
        
        <div class="form-group">
          <label>Capacity</label>
          <input type="number" name="system.capacity" value="{{system.capacity}}" data-dtype="Number" min="0"/>
        </div>
        
        <div class="form-group">
          <label>Current Ammo</label>
          <input type="number" name="system.currentAmmo" value="{{system.currentAmmo}}" data-dtype="Number" min="0"/>
        </div>
        
        <div class="form-group">
          <label>Qualities</label>
          <input type="text" name="system.qualities" value="{{system.qualities}}" placeholder="e.g., Accurate, Heavy"/>
        </div>
        
      </div>
    </div>
    
  </section>
</form>
